{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended"],
  "root": true,
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"],
      "rules": {},
      "parserOptions": {
        "project": ["tsconfig.json"]
      },
    },
  ],
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  }
}