{
    "branches": [
        "master",
        "release-2.2.8"
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/npm",
        {
            "path": "@semantic-release/git",
            "assets": [
                "package.json",
                "package-lock.json",
                "README.md"
            ],
            "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer"
    ]
}