{
    "branches": [
        "master"
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/npm",
        {
            "path": "@semantic-release/git",
            "assets": [
                "package.json",
                "package-lock.json",
                "README.md"
            ],
            "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/npm",
            {
                "npmPublish": true,
                "pkgRoot": "./dist/main"
            }
        ],
        "@semantic-release/gitlab",
        "@semantic-release/git"
    ]
}